body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(13, 110, 253);
    text-align: center;
}

ul {
    margin-top: 2rem;
    padding-left: 0rem;
}

li {
    display: inline;
}

#button-col {
    padding-left: 0rem;
    padding-right: 0rem;
}

#input-col-1, #input-col-2, #input-col-3 {
    padding-left: 0rem;
    padding-right: 2rem;
}

.form-label {
    display: inline-flex;
    margin-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.form-control {
    display: inline-flex;
    margin-bottom: 1rem;    
    margin-left: 1rem;
    margin-right: 1rem;
}
#calculate-button {
    display: inline-flex;
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    background-color: rgb(228, 228, 228);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}

.footer {
    margin-bottom: 0px;
}